body{
    background-color: #ef3f01;
    color: aliceblue;
    font-family: Roboto;

}

.header{
    position: fixed;
    z-index: 999;
    background: radial-gradient(circle, rgba(250,187,47,1) 0%, rgba(251,144,30,1) 35%);
}
.header__h1{
    font-size: 1.2rem;
    line-height: 3.2;
    text-shadow: 2px 2px 2px rgb(9, 10, 9)
}
.header__a--amarillo{
    color: yellow;
  }

  .header__a--rojo{
    color:#CE1B18;
  }

button.navbar-toggler{
    color: antiquewhite;
    background-color: aliceblue;
}

a.nav-link{
    font-size: 0.9rem;
    color: white;
    text-shadow: 10px 10px 20px rgb(9, 10, 9);
}

section.baner.container-fluid{
    padding-top: 4.2rem;
    --bs-gutter-x: -1.5rem;
}

.modal-body {
    background: crimson;
}
h2.cards__h2{
     text-shadow: 1px 1px 5px black;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 38%;
}

section#resenia {
  padding: 0px;
}

h5.card-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
label.form-label {
    padding-top: 1rem;
    font-weight: 700;
}

.footer__h2{
    font-size: 1rem;
}
.footer__li{
    list-style: none;
}
.footer__a{
    text-decoration: none;
    color: aliceblue;
    
}
@media screen and (min-width:576px){
    body{
        background-color: blueviolet;
    }

}

@media screen and (min-width:768px){
    .header__h1{
        font-size: 1.8rem;
    }
    img.mt-1{
        margin-top: 1.25rem!important;
    }
    .navbar-expand-md {
        padding-top: 1.5rem;
    }
    a.nav-link{
        font-size: 1.2rem;
     
    }
    section.baner.container-fluid{
        padding-top: 6rem;
        --bs-gutter-x: -1.5rem;
    }
    .footer__h2{
        margin-top: 2rem;
        margin-bottom: 1rem;

    }
}

@media screen and (min-width:992px){
    body{
        background-color:black;
    }
    label.form-label {
        color: orangered;
    }
 
}